* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    margin: auto;
    width: 80%;
    height: 80%;
}
.prodotto-a {
    width: 100%;
    position: relative;
    z-index: 2;
}
.prodotto-b {
    position: absolute;
    width: 100%;
    right: 0%;
    z-index: 1;
}
.prodotto-a:hover {
    z-index:-3;
}
.prodotto-b:hover {
    z-index:3;
}
.card {
    width: 32%;
    display: inline-block;
    padding-top: 50px;
}
.immagine {
    position: relative;
}
.cuore {
    position: absolute;
    right: 15px;
    top: 10px;
    background-color: white;
    padding: 2px 5px 2px;
    z-index: 200;
    
}
.sconto {
    position: absolute;
    top: 90%;
    right: 85%;
    background-color:rgb(255, 70, 110);
    z-index: 200;
    padding: 3px;
    color: white;
}
.sostenibilità {
    position: absolute;
    top: 90%;
    right: 60%;
    background-color:rgb(0, 119, 6);
    color: white;
    padding: 3px;
    z-index: 200;
}
.sostenibilità-singolo {
    position: absolute;
    top: 90%;
    right: 75%;
    background-color:rgb(0, 119, 6);
    color: white;
    padding: 3px;
    z-index: 200;
}